{% extends template %}
{% block info_block %}
    <ul>
        <li><b>Confirmed the presence of conditions A, C, E, 
            and F at Dam 1</b> because heavy rains in the past two 
            years have resulted in (1) a damaged rock cover on the 
            embankment slope due to unusually frequent wave actions; 
            (2) damaged filter blocks built around the water pipes 
            to prevent leakage; (3) falling and dying trees at the 
            bottom of the dam; and (4) eroded soil near the 
            embankment leading to sinkholes.
        </li>
        <li><b>Confirmed the presence of conditions A and C at 
            Dam 2</b> because heavy rains in the past two years 
            have resulted in (1) a damaged rock cover on the 
            embankment slope due to unusually frequent wave actions; 
            and (2) heavily damaged filter blocks built around the 
            water pipes to prevent leakage.
        </li>
        <li><b>Confirmed the presence of conditions C and 
            D at Dam 3</b>  because (1) a group of new coming beavers 
            were attracted to the upstream ponds at the dam; and (2) 
            the tunneling activity of these beavers cracked the 
            filter blocks used to protect the water pipes in the 
            past three months.
        </li>
    </ul>
{% endblock %}