{% extends 'sidebar-base.html' %}
{% load staticfiles %}

{% block body_block %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="progess-northwest">
                <h4><b>Step 5 (Page 1/2)</b></h4>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 center">
                    <p class="no-margin">Now that you have finished the group 
                        discussion, please submit a single vote on which dam to 
                        repair. The dam chosen by your group will be the one 
                        that receives two or more votes. 
                        <!--Payment-->
                        {% if payment_flag %}
                        Remember that if your 
                        group makes the correct decision, each participant 
                        in your group will earn an extra $5.
                        {% endif %}
                        <!--Payment-->
                    <div class="center">
                        <form class="table-3-center" action="/Category3Dams/p27" method="post">
                            {% csrf_token %}
                            <p>Which dam will you choose to repair?</p>        
                            <input type="radio" name="1" value="Dam 1">Dam 1<br>
                            <input type="radio" name="1" value="Dam 2">Dam 2<br>
                            <input type="radio" name="1" value="Dam 3">Dam 3<br>
                            <input id="continue" class="btn btn-primary next" data-toggle="modal" data-target="#myModal" value="Continue">
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="row">-->
            <!--    <div class="col-lg-12 center">-->
            <!--        <div>-->
            <!--            <p class="inline continue">Please press CONTINUE to proceed to the next page.</p>-->
                        <!--<button type="button" class="btn btn-primary next" onclick="ajaxGetPage('p25')">Continue</button>-->
            <!--            <a id="continue" class="btn btn-primary next"  data-toggle="modal" data-target="#myModal">Continue</a>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Incomplete Response</h4>
                        </div>
                        <div class="modal-body">
                          <p id="incorrect">You must answer all of the questions.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <script type="text/javascript">
        var responses = {};
        $("input").on( "click", 
            function() {
                $("input:checked").each(
                    function(){
                        var index = $(this).attr("name")
                        responses[index] = this.value;
                    }
                )
                checkContinue();
            }
        );
        
        function checkContinue() {
            if (Object.keys(responses).length == 1){
                $("#continue").attr("type", "submit")
                $("#continue").removeAttr("data-toggle")
                $("#continue").removeAttr("data-target")
            }
            else {
                $("#incorrect").text("You must answer the question.")
                $("#continue").attr("data-toggle", "modal")
                $("#continue").attr("data-target", "#myModal")
                
            }
        }
    </script>
{% endblock %}

